.App {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(52, 131, 250)
}

input {
  background-color: #fff;
}

button {
  background-color: rgb(52, 131, 250);
  border-radius: 2px;
  color: #fff;
  border-color: transparent;
  margin-bottom: 5px;
}

.header {
  background-color: rgb(255, 241, 89);
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  max-width: 1200px;
  width: 99%;
  top: 0;
  margin-bottom: 30px;
  position: fixed;
  display: flex;
  justify-content: space-around;
}

.header a {
  color: #3a3a3a;
}

.header p {
  font-size: 12px;
  font-weight: bold;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbar-active {
  display: block;
  transition: 0.3s ease;
  margin-top: 30px;
}

.searchbar {
  display: none;
}

.categories-active {
  display: block;
  transition: 0.3s ease;
}

.categories {
  display: none;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.p-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.p-card {
  border: 2px solid #3a3a3a;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10%;
}

.p-home img {
  width: 120px;
}

.p-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.cart-list-contianer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.cart-item-card {
  border: 2px solid #3a3a3a;
  max-width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10%;
}

.cart-item-card img {
  max-width: 250px;
}