.App {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
}

input {
  background-color: #fff;
}

.header {
  background-color: rgb(255, 241, 89);
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  max-width: 1200px;
  width: 99%;
  top: 0;
  margin-bottom: 30px;
  position: fixed;
}

.header a {
  color: #3a3a3a;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.p-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.p-card {
  border: 2px solid #3a3a3a;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10%;
}

.p-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.cart-list-contianer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.cart-item-card {
  width: 300px;
}
